.container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    margin: 0px auto 0px auto;
    grid-auto-flow: row;
    grid-template-areas:
    "Victorias Resultado Derrotas"
    "Piedra Papel Tijera";
}

.Piedra { grid-area: Piedra }

.Papel { grid-area: Papel;}

.Tijera { grid-area: Tijera;}

.Victorias { grid-area: Victorias;}

.Resultado { grid-area: Resultado;}

.Derrotas { grid-area: Derrotas;}
